# --- Python & Environment ---
__pycache__/
.venv/
.python-version
.DS_Store

# --- Project Data ---
runs/
logs/

# Ignore all data and images
data_final/
*.jpg
*.png
!results/*.png
configs/
archive/

# --- Model Weights ---
*.pt
!models/rcnn/*.pt
!models/swin_transformer/best_model.pt
!models/rcnn/hpo/FINAL_PRODUCTION_MODEL.pt
!models/yolo/yolo_untuned.pt

# --- Hidden Metadata ---
.fiftyone/
.uv/