*.pt filter=lfs diff=lfs merge=lfs -text
models_alternative/D-FINE/output/dfine_m_traffic/*.pth filter=lfs diff=lfs merge=lfs -text
models_alternative/swin_transformer/*.pt filter=lfs diff=lfs merge=lfs -text
